{% extends pack.base.template %}
{% load markup %}
{% block main %}
	<h2>{{page.name}}</h2>
	{% if pages %}
	<ul class="catalog">
		{% for i in pages %}
		{% if i.files.0 %}
		{% with i.files.0.get_file as url %}
		<li class="catalog-item c{{forloop.counter}} {% cycle 'odd' 'even' %} {% if portfolio.design.dic.thumbs_per_line and forloop.counter|divisibleby:portfolio.design.dic.thumbs_per_line %}last{% endif %}">
				<a class="item-thumb" href="{{url}}">{{ i.render_thumb }}</a>
				<a class="item-title" href="{{url}}">{{i.name }}</a>
				{% if i.dic.sub_title %}
				<a class="item-sub-title" href="{{ url }}">{{ i.dic.sub_title|textile }}</a>
				{% endif %}
		</li>
		{% endwith %}
		{% endif %}
		{% endfor %}
		<span class="clear">&nbsp;</span>
	</ul>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if page.dic.text %}{{ page.dic.text|textile }}{% endif %}
{% endblock %}
