/** Globals **/
body {color:#666;}
table{ border-collapse: collapse !important; margin: 0 auto; width: 100%;}
ul {margin: 0;padding: 0; list-style-position: inside;}
h1, h2, h3, h4, h5, h6 {font-family:Arial,Tahoma,Verdana,sans-serif,Georgia; font-weight:bold;}
h1 {height: 0; margin: 0;}
h2 {color:#132A3A; text-transform:uppercase; font-size:3em;}
h3, h3 a {color:#4B4B4B; text-transform:uppercase; text-decoration: none;}

.button, input[type=submit], input[type=button], .submit-row input {
    background: white url({{ MEDIA_URL }}admin_media/img/admin/nav-bg.gif) bottom repeat-x;
    padding: 3px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url({{ MEDIA_URL }}admin_media/img/admin/nav-bg-reverse.gif);
    background-position: top;
}

.button.default, input[type=submit].default, .submit-row input.default {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url({{ MEDIA_URL }}admin_media/img/admin/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: right;
}

.button.default:active, input[type=submit].default:active {
    background-image: url({{ MEDIA_URL }}admin_media/img/admin/default-bg-reverse.gif);
    background-position: top;
}

/** base.html - navigation **/
#container {position: relative; top: 0;}

.nav li {display: inline;}
.nav {font-family: Helvetica,Arial,sans-serif; font-weight: bold; }
.nav a {padding: 0 1em 0 0; text-decoration: none; color: white;}

.nav .first {padding-left: 0;}
.rtl .nav .first {padding-right: 0;}

.float {float: left;}
.rtl .float {float: right;}

.active {text-decoration: none; color: black;}

/** base.html - Global Containers **/
#header {height: 200px; margin: 0 auto; position: relative;}
#header .slogan-background {position: relative; top: 150px; background: #000; opacity: 0.3; width: 100%; height: 50px;}
.slogan {height: 0; line-height: 50px; position: relative; top: -52px; color: #9c9c9c; letter-spacing:-0.07em; font-style:italic; font-size:1.2em;}


#navigation {float: right; width: auto; position: relative; top: -153px; text-shadow: 1px 2px 2px #000000; height: 0;}
.rtl #navigation {float: left;}
#navigation .home {display: none;}

.logo a {text-decoration:none; font-size: 35px; color: black; position: relative; display: block; top: -200px; height: 150px; width: 400px; }

/*TODO: BUG with 950px causes overflow*/
#content {background-color: #fff; min-height: 330px; width: 951px; margin-top: 20px;}
#content h1 {color: #132A3A;}

#content #main p {margin: 0 2.5em 1.5em 0;}
.rtl #content #main p {margin: 0 0 1.5em 2.5em ;}

#footer {direction: ltr; border-top:1px solid #D5D5D5; line-height:160%; padding:10px 0; margin-top: 50px; text-align: center;}
#footer a {color: #132A3A;}
#footer a:hover {color: #387093;}

/** site/item.html **/
.item-thumb, .item_wrap {background: #FFF; border:1px solid #D7D7D7; overflow:hidden; padding:10px; width:200px; z-index:200;}
.item_wrap-bottom {margin-top: 30px;}
.t_home .item_wrap {margin-top:-135px; position:relative; width:528px; }
.t_home .item_wrap img {width:528px; height: 346px;}

.item-photo {display: block; width: 10px; height: 10px; margin-left: 5px; background: grey; border: 1px solid black; text-indent: -9999px; overflow:hidden; direction: ltr; text-decoration:none; float: left;}
.rtl .item-photo {float: right;}
.item-photo.active {background: none;}

/** site/catalogs.inc - Catalogs **/
.catalog .item-title {color: #4B4B4B; text-decoration: none; display: block; line-height: 2em; height: 2em; font-size: 1.5em; font-weight: bold; text-transform: capitalize; margin-top: 16px;}

.catalog-item {display: block; min-height: 125px; position: relative; margin-right: 10px; margin-bottom: 1em; background: #ccc;}
.rtl .catalog-item {margin-right: 0; margin-left: 10px;}

.item-thumb img{max-width: 125px; max-height: 125px; margin: 10px;}
.item-thumb {float: left; width: 125px; height: 125px; text-align: center; background: #f7f7f7; overflow: hidden;}
.rtl .item-thumb {float: right;}

.catalog {clear: both; margin: 0;}

.horizontal .item-title, .horizontal .item-sub-title {width: 272px; margin-left: 10px;}
.rtl .horizontal .item-title, .rtl .horizontal .item-sub-title {margin-left: 0; margin-right: 10px;}

.horizontal .catalog-item {float: left; width: 450px;}
.rtl .horizontal .catalog-item {float: right;}

.horizontal .item-title, .horizontal .item-sub-title {float: left; }
.rtl .horizontal .item-title, .rtl .horizontal .item-sub-title {float: right; }

.rss {display: none;}
.item-sub-title {text-decoration: none; min-height: 4em; color: #666;}

.last {margin: 0 !important;}

/** site/home.html **/
.banner {display: block; width: 310px; height: 310px; text-indent: -1000em;overflow:hidden; direction: ltr;}
.rtl .banner {background-position: 10px 0;}
.banner-text {height: 230px; line-height: 310px; vertical-align: middle;}

/** site/contact.html **/
textarea, input {width: 240px;}
label {display: block;}
.icon24 {display: block; width: 24px; height: 24px; overflow:hidden; direction: ltr;}
