{% extends pack.base.template %}
{% load markup %}
{% load utils %}

{% block bodyClass %}{{ block.super }} page_{{ page.template }}{% for t in page.pages %} page_{{t.slug_name}}{% endfor %}{% endblock %}
{% block title %}{{ item }} | {{  portfolio.title }}{% endblock %}
{% block metaDescription %}{% firstof page.dic.sub_title item.name %}{%endblock %}

{% block content %}
	<div id="sidebar" class="span-7 prepend-top">
	{% block sidebar %}
		<div class="item_wrap">
			{% ifequal item.mime_type "image/jpeg" %}
				<a href="{{ next_item.url }}">{{ item.render }}</a>
			{% else %}
				{{item.render}}
			{% endifequal %}
		</div>


		<div class="item_wrap-bottom">
			{% ifnotequal page.files|length 1 %}
			<p class="item-photos">
				{% for i in page.files %}
					<a href="{% firstof i.get_file_thumb i.get_file %}" target="photo" rel="{{ forloop.counter }}" class="item-photo">{{ forloop.counter }}</a>
				{% endfor %}
				<span class="clear">&nbsp;</span>
			</p>
			{% endifnotequal %}
			{% if page.dic.email %}<p>{% if dic.rtl %}אימייל: &lrm;{% else %}Email: {% endif %} {{ page.dic.email|obfuscate }}</p>{% endif %}
			{% if page.dic.telephone %}<p>{% if dic.rtl %}טלפון: &lrm;{% else %}Telephone: {% endif %} {{ page.dic.telephone }}</p>{% endif %}
		</div>
	{% endblock %}
	</div>

	<div id="main" class="span-15 prepend-top">
	{% block main %}
		<h2>{{item.name|capfirst}}</h2>
		{{ page.dic.description|textile }}
	{% endblock %}
	</div>
{% endblock %}
